body {
  padding: 20px;
  font-family: sans-serif;
    background: #465669;

}
h1 {
  text-align: center;
  color: white;
  font-size: 2em;
}

.subhead {
  text-align: center;
  color: white;
  font-size: 2em;
}
.flex-container {

  padding: 0;
  margin: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    
  -webkit-flex-flow: column nowrap;
  -webkit-justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;

  background: #465669;
      align-items: center;

}

.flex-item {
  width: 500px;
  height: 500px;
  
  /*styling*/
  background: #1d242c;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  margin-top: 5%;
}


.scoreInt {
    font-size: 5em;
    margin-top: 35%;
}

img {

}

.player-true {
    background-color: #17b92a;
}

.playerName-true::before {
content: url(img/server2.png);
margin-left: -35px;
}

/*toast styles*/
.notification-div {
    -webkit-box-shadow: rgb(58, 157, 196) 0px 0px 162px 0px;
    /*background-color: rgb(81, 163, 81);*/
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: rgb(58, 157, 196) 0px 0px 162px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
    height: 75px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 15px;
    padding-top: 15px;
    top: 45%;
    background-color: #e06e1c;
}


.notification-div p {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 2em;
    font-weight: bold;
    height: 256px;
line-height: .75em;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    word-wrap: break-word;
    z-index: 36;
}


.-show-hide {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
    -webkit-animation: bounceIn 2.5s;
    animation: bounceIn 2.5s;}

.-show-hide.ng-hide {
    -webkit-animation: flipOutX 2.5s;
    animation: flipOutX 2.5s;
    display: block !important;
    opacity: 0}

#toast-container {
    z-index: 999999;
    width: 95%;
    position: fixed;
    top: 5%;

    /*overrides*/


}
